header {
  background-color: rgb(124, 57, 187);
  padding: 10px;
  border-radius: 15px;
}

.header-wrapper {
  color: rgb(224, 210, 210);
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 5px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 30px;
  display: block;
  width: 600px;
}

form {
  margin: 20px;
}

select {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  width: 200px;
  color: rgb(119, 114, 114);
}
