header {
  background-color: rgb(124, 57, 187);
  padding: 10px;
  border-radius: 15px;
}

.header-wrapper {
  color: rgb(224, 210, 210);
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 5px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

input {
  height: 30px;
  flex-grow: 1;
  margin-right: 3px;
}

.search-button {
  width: 100px;
  height: 30px;
  background-color: rgb(76, 175, 80);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.search-button:hover {
  background-color: rgb(69, 160, 73);
}

form {
  margin: 20px;
}

select {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  width: 200px;
  color: rgb(119, 114, 114);
}
