.card-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1700px;
}

.load-more {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.load-more button {
  background-color: rgb(124, 57, 187);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.4s ease;
}

.load-more button:hover {
  background-color: rgb(118, 10, 218);
}